body {
  margin: 0;
  font-family: Roboto, sans-serif;
  font-weight: 500;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
/* stylelint-disable-next-line rule-empty-line-before */
.header {
  display: flex;
  box-sizing: border-box;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.img-logo {
  display: block;
  margin-left: 50px;
  width: 40px;
  height: 40px;
  top: 10px;
  left: 50px;
}

.nav {
  margin-right: 50px;
}

.nav__link {
  display: flex;
  padding: 0;
  height: 60px;
  align-items: center;
  text-decoration: none;
  text-transform: uppercase;
  position: relative;
  color: #000;
}

.nav__list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  text-transform: uppercase;
  line-height: 15px;
  font-size: 12px;
}

.nav_item:not(:first-child) {
  margin-left: 20px;
}

.is-active {
  color: #00acdc;
}

.is-active::after {
  background-color: #00acdc;
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 4px;
  border-radius: 8px;
}

.nav__link:hover {
  color: #00acdc;
}
